.DS_Store
.bundle
.circleci/
.codegraph/
.git
.gitignore
.dockerignore
.rspec
.vscode
coverage
kubeconfig
Dockerfile
docker-compose.yml
skaffold.yaml
/cache
/doc
/forks
/k8s
/spec
/tmp
improvements-plan.md
ui-improvements.md
/dashboard/compiled
/dashboard/node_modules
