.DS_Store
.bundle
.circleci/
.jekyll-cache/
.vscode
.git
.gitignore
.dockerignore
.rspec
.DS_Store
coverage
kubeconfig
Dockerfile
docker-compose.yml
skaffold.yaml
/cache
/k8s
/spec
/tmp
/dashboard/node_modules
