<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- vue -->
<!-- <script src="vendor/vue/vue.global.prod.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- RBAC data -->
<script src="js/rbac-common.min.js"></script>

<!-- RBAC findings -->
<script src="js/rbac-findings.min.js"></script>
