<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-life-ring"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Krane</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Analysis
  </div>

  <!-- Nav Item - Findings Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-chart-pie"></i>
      <span>Findings</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Severity:</h6>
        <a class="collapse-item" href="danger.html">Danger</a>
        <a class="collapse-item" href="warning.html">Warning</a>
        <a class="collapse-item" href="info.html">Info</a>
        <a class="collapse-item" href="success.html">Success</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - RBAC Tree -->
  <li class="nav-item">
    <a class="nav-link" href="tree.html">
      <i class="fas fa-fw fa-user-shield"></i>
      <span>RBAC Facets</span></a>
  </li>

  <!-- Nav Item - RBAC Graph -->
  <li class="nav-item">
    <a class="nav-link" href="graph.html">
      <i class="fas fa-fw fa-project-diagram"></i>
      <span>RBAC Graph</span></a>
  </li>

  <!-- Nav Item - RBAC Rules -->
  <li class="nav-item">
    <a class="nav-link" href="rules.html">
      <i class="fas fa-fw fa-shield-alt"></i>
      <span>Risk Rules</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
